
#slimbookHero {
	width: 100%;
	border: none;

	background: url(slimbook.jpg);
	background-repeat: no-repeat;
	background-origin: border-box;
	background-size: cover;
	background-position: center;
	
	color: #000;
	text-shadow: 0px 1px 0px rgba(255,255,255,.2);
}
 

#slimbookHero h1 {
	color: #000;
}
 

#slimbookHero p {
	color: #000;
}

.splashImage {
	margin: 0px auto !important;
}
 
#slimbookHero a {
	display: block;
	width: 250px;
	margin: 10px auto;
	padding: 10px 20px 12px;
	border: solid 1px rgba(0,0,0,.1);
	color: #fafafa;
	background-color: #54a3d8;
	font-size: 16px;
	font-weight: bold;
	line-height: 100%;
	border-radius: 3px;
	text-align: center;
}
 
#slimbookHero a:hover {
	background-color: #7cbcec;
}

.buyButton {
	display: block;
	width: 250px;
	margin: 10px auto;
	padding: 10px 20px 12px;
	border: solid 1px rgba(0,0,0,.1);
	color: #fafafa;
	background-color: #27AE60;
	font-size: 16px;
	font-weight: bold;
	line-height: 100%;
	border-radius: 3px;
	text-align: center;
}

.buyButton:visited {
	color: #fafafa;
}

.buyButton:hover {
	background-color: #2ecc71;
	cursor: pointer;
}

.buyButton:disabled {
	background-color: transparent;
	color: rgba(0,0,0,.1);
	cursor: default;
}
